<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Trip</title>
  </head>
  <body>
    {% if messages %}

    <ul class="messages">
      {% for message in messages %}
      <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {{ message }}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    <div>
      <a href="/travels">Home</a>
      <a href="/clear">Logout</a>
    </div>
    <h1>Add a Trip</h1>
    <form action="/addnewtrip" method="post">
      {% csrf_token %}
      <p>Destination: <input type="text" name="destination" id="" /></p>
      <p>
        Description:
        <textarea name="description" id="" cols="30" rows="10"></textarea>
      </p>
      <p>Travel Date From: <input type="date" name="datefrom" id="" /></p>
      <p>Travel Date To: <input type="date" name="dateto" id="" /></p>
      <button type="submit">Add</button>
    </form>
  </body>
</html>
